#container {
    padding-top: 100px;
}

header .logo > img {
	display: inline-block;
	padding-top: 10px;
	height: 90px;
	transition: all ease-in-out 0.3s;
}

header.active .logo > img {
	padding-top: 5px;
	height: 60px;
}